<footer id="contact">
  <p class="hero_header">GET IN TOUCH WITH ME</p>
  <a href="mailto:yu.liu.design@outlook.com" class="button">EMAIL ME</a>
</footer>

<div class="copyright">
  <span>&copy; 2025–2026 Yu Liu</span>

  <span aria-hidden="true"> · </span>

  <a
    href="https://creativecommons.org/licenses/by-nc/4.0/"
    target="_blank"
    rel="license noopener noreferrer"
  >
    CC BY-NC 4.0
    <img
      alt="Creative Commons BY-NC 4.0 License"
      src="https://licensebuttons.net/l/by-nc/4.0/88x31.png"
      class="cc-license-icon"
    />
  </a>

  <span aria-hidden="true"> · </span>

  <a href="{{ '/license.html' | relative_url }}"> License </a>
</div>
